<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/salim/workspace/PageObjectModel"><classes><class name="org.BrowserStackTest.BrowserStackTestClasses"><methods><include name="browserHomePage"/><include name="browserstackSignup"/></methods></class><class name="org.BrowserStackTest.BrowserStackTestClassesFactory"><methods><include name="browserHomePage"/><include name="browserstackSignup"/></methods></class></classes></test></suite>